*, ::after, ::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main{
    background-image: url(/assets/Daddy\ and\ Miwa.jpg);
}
.main, section {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: all ease-in-out 1s;
}

.main_title {
    display: block;
    background-color: pink;
    padding: 1.5rem;
    font-size: 1.5rem;
    border-radius: 10px;
    opacity: .9;
}
.section_one {
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}
.section_one_name {
    color: #000;
    padding: 2em;
    font-size:  1.5rem;
    font-style: italic;
}

.image_one {
    background-image: url(/assets/322322177_690459082736803_1371477000028029327_n.jpg); 
}
.image_two {
    background-image: url(/assets/swimming.jpg); 
}

.image_three {
    background-image: url(/assets/with\ cousins.jpg); 
}

.image_four {
    background-image: url(/assets/birthday.png); 
}


.reference {
    display: none;
    position: relative;
    bottom: 0;
    left: 0;
}